/* html {
    border: 3px solid black;
} */



body {
    display: flex;
    flex-direction: column;
    margin: 0%;
}

.hero {
    background-color: #1f2937;
    color: white;
    padding-left: 10%;
    padding-right: 10%;
    margin: 0;
}

h2 {
    font-weight: extra-bold;
    font-size: 48px;

}

.header-logo-and-links {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    margin-left: 15%;
    margin-right: 15%;

}

.left,
.right {
    display: flex;
    align-items: center;

}

ul {
    list-style-type: none;
    display: flex;
    margin: 5%;
    justify-content: space-between;
    font-size: 12px;
}

li {
    padding: 10px;
}

.right {
    display: flex;
    justify-content: space-between;
}

.header-content {
    display: flex;
    text-align: center;
    justify-content: center;

}

.header-information {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 600px;
    text-align: left;
}

.header-button {
    display: flex;
    justify-content: start;

}

button {
    background-color: #3882f6;
    border-radius: 10px;
    background-color: #3882f6;
    color: white;
    margin: 15px;
    height: 40px;
    width: 100px;
}

.header-image {
    display: flex;
    justify-content: center;
    width: 600px;
    background-color: grey;
    margin-bottom: 15px;
    align-items: center;
}

/*Image Content*/

.cards-container {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

h1 {
    display: flex;
    justify-content: center;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    width: 150px;
    height: 150px;
    text-align: center;
    margin-left: 50px;
    margin-right: 100px;
    align-items: center;
    margin-top: 50px;
    justify-content: center;

}

img {
    border: 3px solid blue;
    border-radius: 10%;
    min-width: 150px;
    min-height: 150px;
}

.quote-container {
    background-color: #e5e7eb;
    display: flex;

    justify-content: center;
    align-items: center;
    margin-top: 200px;
}

.large-quote {

    font-size: 36px;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    ;
    width: 1000px;
    height: 200px;
    align-items: center;
}

a {
    color: #1f2937;
    font-style: italic;
}

.quoter {
    color: #1f2937;
    display: flex;
    justify-items: right;
    padding-bottom: 30px;
    text-align: justify;
    text-align-last: end;
    font-size: smaller;
    font-weight: bold;
}

.call-to-action {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #3882f6;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 100px;
    border-radius: 15px;
    border: #3882f6;
    height: 150px;
}

.call-to-action-text {
    color: white;
}

.action-sign-up {
    border-color: white;
    border: 3px solid white;
    border-radius: 10px;
    font-size: 14px;
}

#h3 {
    color: white;
    font-size: 26px;
    font-weight: bold;
}

#p {
    color: white;
    font-size: medium;
}

.footer {
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    height: 100px;
    align-items: center;
    width: 100%;
}